# Data Structures

## Table of Contents

### 1 Lists

* Creating and accessing lists
* Indexing


### 2 Assignment Lab or Practical Work

## Lists
Lists are used to store collections of items. They can contain items of different types and can be modified.

### Creating and accessing lists
In Python, lists are created using square brackets []. Here's an example:

In [2]:
mylist= ["apple", "banana", "cherry", "Alice", "John", "ADS", "ple", "ban", "che", "Ali", "Joh", "AD"]

## Indexing

### Accessing Individual Items

When accessing individual items in a list you can work with either positive indexing or negative indexing

* With positive indexing we start counting from the front and the first index is 0
* With negative indexing we start counting from the back and the last index is -1 

We can demonstrate this with our list1


* positive indexing

    ```["apple", "banana", "cherry", "Alice", "John", "ADS"]```



          0     ,   1 ,     2    ,    3   ,     4,     5  
          
* negative indexing

    ```["apple", "banana", "cherry", "Alice", "John", "ADS"]```



      -6     ,   -5 ,    -4    ,    -3   ,     -2,     -1

In [19]:
list1 = ["apple", "banana", "cherry", "Alice", "John", "ADS"]

In [20]:
# John from positive indexing 
list1[4]

'John'

In [16]:
# John from negative indexing
list1[-2]

'John'

In [13]:
#Alice from negative indexing
list1[-3]

'Alice'

In [14]:
# Alice from positive indexing
list1[3]

'Alice'

In [21]:
# Banana  from positive indexing
list1[1]

'banana'

## Accessing multiple sequential Items ( slicing)

When accessing multiple items we work with a *range* of indexes

e.g.  to get   ```["apple", "banana"] ``` from 
```["apple", "banana", "cherry", "Alice", "John", "ADS"]```

we will say we need items from index 0 to index 2. 

Or written otherwise ```list1[0:2]``` 

What you need to be keen on is the item whose index is referenced after the colon won't be included in the selection

In [3]:
# apple, banana
list1[0:2]

['apple', 'banana']

In [22]:
# banana, cherry
list1[1:3]

['banana', 'cherry']

In [24]:
# Alice, John
list1[3:5]

['Alice', 'John']

### Accessing all items from the start or  all items to the end of the list

Usually when a list needs to be sliced from the start up to some point, we just can choose to write our code like this 

e.g. to get ```["apple", "banana"]```  from ```["apple", "banana", "cherry", "Alice", "John", "ADS"]```

we will say we need items from index 0 to index 2.

Option a is ```list1[:2]```

Or written otherwise ```list1[0:2]```

In [4]:
#  Start of list up to cherry
list1[:3]

['apple', 'banana', 'cherry']

In [5]:
#  Start of list up to John
list1[:5]

['apple', 'banana', 'cherry', 'Alice', 'John']

The same logic can be used when accessing all items from a certain starting point all the way to the end of the list

e.g. to get ```["Alice", "John", "ADS"]```  from ```["apple", "banana", "cherry", "Alice", "John", "ADS"]```

we will say we need items from index 3 to the last item.

We will use ```list1[3:]```

In [10]:
#  cherry to end of list
list1[2:]

['cherry', 'Alice', 'John', 'ADS']

In [7]:
#  cherry to end of list using negative indexing
list1[-4:]

['cherry', 'Alice', 'John', 'ADS']

In [8]:
# John to end of list
list1[4:]

['John', 'ADS']

## Acessing all items

In [26]:
list1[:]

['apple', 'banana', 'cherry', 'Alice', 'John', 'ADS']

In [27]:
list1

['apple', 'banana', 'cherry', 'Alice', 'John', 'ADS']

## Step size

You can add a secondary colon in your indexing statement to help you determine the step size( how many elements to skip before choosing the next element)

In [28]:
list2

['apple',
 'banana',
 'cherry',
 'Alice',
 'John',
 'ADS',
 'ple',
 'ban',
 'che',
 'Ali',
 'Joh',
 'AD']

In [29]:
# Taking a step size of 2
list2[::2]

['apple', 'cherry', 'John', 'ple', 'che', 'Joh']

In [84]:
# FOOD FOR THOUGHT
# How to find NON SEQUENTIAL items -> ["apple", "cherry", "ADS"]

## Tuples
Tuples are similar to lists, but they are immutable (cannot be modified)

### Creating and accessing tuples
In Python, tuples are created using parentheses (). Here's an example:

In [6]:
fruits = ("apple", "banana", "cherry")

You can access items in a tuple by their index, just like with a list. Here's an example:

In [7]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])    # prints "apple"

apple

### Creating and accessing dictionaries
In Python, dictionaries are created using curly braces {}. Here's an example:

You can access values in a dictionary by their keys. Here's an example:

In [10]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person["name"])   # prints "Alice"

Alice

## Sets

A set is a collection of unique values that are unordered and unindexed. Sets are defined using curly braces { }.

### Creating and accessing sets
Here's an example of creating a set:

In [12]:
fruits = {"apple", "banana", "cherry"}

## Data Structures Assignment using Replit

### Objective:
The goal of this assignment is to help you practice data structures in Python. You will use Replit to write, run, and share Python scripts that demonstrate your understanding of lists, tuples, dictionaries, and sets, along with their methods and comprehension techniques.

### Tasks:

### 1 Create a new Python Repl:

* Follow the instructions in the "Getting Started with Replit Python" tutorial to create a new Python Repl.
* Name your Repl "Day5DataStructuresAssignment"

### 2 Write a Python script that demonstrates the use of lists:

* In your Python Repl, create a list of integers and perform the following operations:
* Access the first element of the list using positive indexing
* Access the third last element using negative indexing
* Given the list 
```['Python', 'is', 'an', 'interesting', 'language', 'but', 'it', 'definitely', 'needs', 'practice'] ```
 
  perform the following operations using indexing:
  
* Extract  ```['interesting', 'language', 'but', 'it']```
* Extract ```['Python', 'is', 'an', 'interesting']```
* Extract ```['it', 'definitely', 'needs', 'practice']```
* Extract ```['Python','an','language', 'it', 'needs']```
* Extract ```['Python','interesting', 'it', 'practice']```


Using the same list:

* Try reversing it to become 

```['practice', 'needs', 'definitely', 'it', 'but', 'language', 'interesting','an', 'is', 'Python']```

* Save your new slice lists into variables and print them on the console.
* Print the original and the new lists to the console.


#### Bonus question

Create a list as shown below  and solve the folloeing questions:
```[0,1,2,3,4,5,6,7,8,9,10]```

* Using indexing return a list of all even numbers
* Using indexing return a list of all odd numbers
* Using indexing return all multiples of 3
* Using indexing return all multiples of 5

### 3 Share your Python Repl:

Once you have completed the tasks above, share your Repl by following the instructions in the "Getting Started with Replit Python" tutorial.
Submit the link to your shared Repl as your assignment.

Note: If you encounter any difficulties or have questions about Python data structures, you can refer to the Python documentation (https://docs.python.org/3/tutorial/datastructures.html) or ask for help from your instructor or peers.